@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;700;900&display=swap');


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    line-height: 1.2;
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    background: #f5f5f5;
    color: #000;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Noto Sans JP", sans-serif, Arial;
}

img {
    max-width: 100%;
    border-style: none;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.header {
    width: 100%;
    background-color: #0000cd;
    color: #fff;
    padding: 20px 0;
}

.header_inner {
    max-width: 1230px;
}

.header-ttl {
    font-size: 3.2rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.header a {
    color: #fff;
}

.header-nav-list {
    display: flex;
    font-weight: normal;
    width: 100%;
    justify-content: center;
    font-size: 1.8rem;
}

.header-nav-item:not(:last-child) {
    margin-right: 80px;
}

.main {
    padding: 5px 5px 10px;
    margin: 0 auto;
}